.List-item {

    
}
.Check {
    position: relative;
}
.Check::before {
    
    border: 1px solid var(--color-elastic-teal);
    border-width: 0 2px 2px 0;
    content: "";
    height: 13px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    background-color: var(--bleu-de-france);

    background: no-repeat center url(../../res/checkSvg.svg);
    transform: rotate(0deg);
    border-radius: 50%;
    border-style: none;
    height: 16px;
    width: 16px;
}