.Nav-container {
  @media screen and (max-width: 40em) {
    display: none;
  }
}
.Nav {
  margin-left: 1rem;
}

.NavLink-link {
  margin-right: 1rem;

  &:hover > .NavLink-label {
    color: rgb(66 172 255);
  }
}
.NavLink-label {
  font-family: 'Helvetica Nueu', 'Helvetica N', 'Helvetic', 'Inter', Arial;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.NavLink-label::before {
  content: '';
  height: 2px;
  width: 100%;
  display: inline-block;
  position: absolute;
  background-color: var(--bleu-de-france);
  top: calc(100% - 0.5rem);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 200ms ease;
}
.NavLink-label:hover::before {
  transform: scaleX(1);
  opacity: 100%;
}