.Animate.GrowFromCenter {
    //animation: GrowFromCenter 500ms ease forwards;
    opacity: 0;
    transform-origin: center;
    transform: scale(0);
}
.animate > .Animate.GrowFromCenter {
    animation: GrowFromCenter 500ms ease forwards;
}
@keyframes GrowFromCenter {
    0% {
        opacity: 0;
        transform-origin: center;
        transform: scale(0);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}