@font-face {
    font-family: GilroyBold;
    src: local(GilroyBold), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: GilroyBlack;
    src: local(GilroyBlack), url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
    font-weight: auto;
  }
  @font-face {
    font-family: GilroyHeavy;
    src: local(GilroyHeavy), url("../fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: GilroySemiBold;
    src: local(GilroySemiBold), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: GilroyLight;
    src: local(GilroyLight), url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
    font-weight: bold;
  }
  
  @font-face {
    font-family: HelveticaNeueBold;
    src: local(HelveticaNeueBold), url("../fonts/HelveticaNeue/HelveticaNeueBd.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: HelveticaNeueHeavy;
    src: local(HelveticaNeueHeavy), url("../fonts/HelveticaNeue/HelveticaNeueHv.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: HelveticaNeueMedium;
    src: local(HelveticaNeueMedium), url("../fonts/HelveticaNeue/HelveticaNeueMed.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: HelveticaNeueLight;
    src: local(HelveticaNeueLight), url("../fonts/HelveticaNeue/HelveticaNeueLt.ttf") format("truetype");
    font-weight: bold;
  }